# Build directories
build/
cmake-build-*/
out/

# IDE
.vs/
.vscode/
.idea/
*.user
*.suo
*.sln.docstates
CMakeSettings.json
CMakePresets.json

# Compiled objects
*.obj
*.lib
*.dll
*.exe
*.pdb
*.ilk
*.exp

# OS
Thumbs.db
desktop.ini
.DS_Store
